

@import url('https://fonts.googleapis.com/css?family=Teko');

button {
  border: none;
  background: none;
  background-color: #ffd8d8;
  width: 60%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 0;
}

body {
  background-image: linear-gradient( to right, #141414, #2b2b2b);
  color: #cecece;
}

.App {
  text-align: center;
  background-image: url("./img/gjon-mili-stroboscopic-09.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  min-height: 1500px;
}

.App-header div {
  background-color: rgba(0, 0, 0, 0.5);
  width: 75%;
}
.App-header {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 500;
  max-height: 325px;
}

.App-header .intro{
  border-top: 1px solid #ff0000;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  padding: 20px 0;
  margin-bottom: 20px;
}

.App-title {
  font-size: 3em;
  font-family:'Teko', sans-serif;
  font-weight: 900;
}
.App-title  .london {
  color: #FF0000;
}

.App-title span {
  color: #E82C0C;
}

.App-intro {
  font-size: large;
}

.App-header #find-address{
  display: flex;
  flex-direction: column;
  width: 100%;
  -ms-align-items: center;
  align-items: center;

}

.enter-address {
  width: 59%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

#map {
  height: calc(100vh / 1.5);
}

#map div{
  border-radius: 2%;
}

/*********************** Infobox Googlemaps ******************/

.theatre-container-infobox {
  margin:0;
  border-radius: 10px;
  width: 200px;
  flex: 1 1 auto;
}
.image-container-infobox {
  margin:0;
  margin-top: 20px;
  height: 100px;
  width: 200px;
  overflow: hidden;
}
.theatre-picture-infobox {
  margin:0;
  width: 200px;
  border-radius: 3% 3% 0;
}
.theatre-info-infobox {
    width: 200px;
    overflow: hidden;
    background-image: linear-gradient(#E82C0C, #FF0000);
}
.name-infobox {
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    margin:0;
    margin-top: 10px;
    color: black;
}
.address-infobox {
  font-weight: 600;
}

.theatres {
  width: 75%;
  margin-top: 20px;
}

.theatres hr, .theatre-info-infobox hr {
  /* https://css-tricks.com/examples/hrs/ */
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(221, 221, 221, 0), rgba(221, 221, 221, 0.75), rgba(221, 221, 221, 0));
}

.theatre-container:first-of-type {
  margin:0;
  padding: 0;
}
.theatre-container {
  margin:0;
  margin-top: 20px;
  background-color: black;
  border-radius: 10px;
  width: 100%;
  flex: 1 1 auto;
}
.to-side{
  width: 95%;
}
.image-container {
  margin:0;
  margin-left: -80%;
  height: 63px;
  width: auto;
}
.theatre-picture {
  margin:0;
  height: 103%;
}
.theatre-info {
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(#E82C0C, #FF0000);
    margin: -63px 0 20px 0;
}

.theatre-info hr{
  z-index: 3;
  margin:0;
  background-image: none;
    /* https://css-tricks.com/examples/hrs/ */
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.theatre-info .address{
  margin:0;
  margin-top: -9px;
  font-size: 0.8em;
  color: black;
  background-color: #e80000;
  max-height: 16px;
  overflow: hidden;
}

.theatre-info .name{
  font-family: 'Teko', sans-serif;
  font-size: 2em;
  margin:0;
  color: black;
  background-color: #FF0000;
}
/* theatre list too long with this info displayed */
.theatre-description {
  display: none;
}

.theatre-description .info{
  margin:0;
  font-size: 0.9em;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  width: 100%;
  border-radius: 10px;
}
.theatre-description .info p, .theatre-description .info div{
  margin-left: 20px;
  width: 80%;
  text-align: left;
}


/* ---------  Modal only appears if you are too far away from London ------------------------------ */
#modal, #api-handling {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  width: 90%;
  height: calc(100vh / 1.5);
}
#modal p {
  margin: 0;
}
#modal-content {
  width: 100%;
  margin-top: 50%;
}
.attention{
  width: 100%;
  padding: 20px 0;
  margin-bottom: 20px;
}

#modal button{
  margin-top: 20px;
  background-color: white;
}

@media (min-width: 701px) {
  .App {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-size: cover;
    width: 100%;
    min-height: 100%;
  }
  .App-header {
    width: 100%;
    margin-top: 2px;
    flex-wrap: wrap;
  }
  .App-header div {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .App-header .intro{
    width: 70%;
    padding: 20px 0;
    height: calc(100vh /8);
  }
  main {
    width: 100%;
    position: absolute;
    margin-top: 135px;
    margin-left: calc(60%);
  }
  #map {
    width: 40%;
    margin-left: -60%;
    height: calc((100vh /5) * 4);
    margin-bottom: 135px;
  }
  .theatres {
    margin: 0;
    max-height: calc((68vh * 4/5) + 44px);
    overflow: scroll;
    position: absolute;
    margin-top: calc((100vh /5));
    margin-left: calc(-28%);
    transform: translate(-50vw, 0);
    width: 60%;
  }
  .theatre-container {
    margin: 0;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
  }
  #modal, #api-handling {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 90%;
    height: calc((100vh /5) * 4);
  }
}
@media (min-width: 901px) {
  App {
    width: 100vw;
  }
  .intro, .theatres {
    max-width: 540px;
  }
  main {
    margin:0;
    margin-top: 140px;
    align-self: flex-start;
    margin-left: 540px;
  }

  .theatres {
    margin: 0;
    margin-top: 140px;
    align-self: flex-start;

  }
  #map {
    flex: 1 1 auto;
    margin: 0;
    width: calc(100% - 540px);
    align-self: flex-start;
  }
}
